* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
  color: #000;
  margin: 0;
  padding: 0;
}
.container {
  width: 1440px;
  height: 2700px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 60px 58px 43px;
}
.menu_1,
.menu_2 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu_2 .menu__item {
  margin-right: 30px;
}
.menu__item {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 2px transparent solid;
  transition: 0.2s;
}
.menu__item:hover,
.menu__item.active {
  border-bottom: 2px #e51937 solid;
  color: #e51937;
}
.item1 {
  margin-right: 63px;
}
.item2 {
  margin-right: 25px;
}
.item3 {
  margin-right: 44px;
}
.item4 {
  margin-right: 46px;
}
.tesla_title {
  text-align: center;
  background-image: url(../img/Tesla\ logo\ +\ car.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 594px;
  margin-bottom: 26px;
}
.tesla_title h1 {
  margin: 0;
  padding: 0;
  font-size: 90px;
  font-weight: 600;
  line-height: normal;
}
.tesla_title p {
  margin-top: -12px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.tesla_info,
.vector {
  display: flex;
  justify-content: center;
  margin: 0;
}
.info_block_speed,
.info_block_road {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 81px;
}
.info_block_road {
  margin-right: 105px;
}
.info_block_speed-img {
  width: 46px;
  height: 34.127px;
  flex-shrink: 0;
  /* margin-left: 230px; */
  margin-right: 12px;
  margin-top: -2px;
}
.info_block_road-img {
  width: 30.5px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 11px;
  margin-top: 7px;
}
.info_block_text-top {
  font-size: 35px;
  margin-right: 6px;
  /* margin-bottom: 10px; */
  font-weight: 600;
  line-height: normal;
}
.info_block_text-top span {
  font-size: 20px;
  margin-left: 6px;
  vertical-align: center;
}
.info_block_text-bottom {
  margin-top: -3px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.test_drive-img {
  display: flex;
  cursor: pointer;
  /* min-width: 118px; */
  margin-top: 10px;
  margin-right: 40px;
}
.test_drive {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-right: 40px;
}
.test_drive-img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  margin-right: 7px;
}
.test_drive-text {
  color: #e51937;
  text-align: center;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.order_btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 160px;
  height: 40px;
  padding: 11px 6px 5px 7px;
  border: 2px #e51937 solid;
  /* margin-right: 321px; */
}
.order_btn-text {
  color: #e51937;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.vector {
  margin-top: 39px;
}
@media (max-width: 768px) {
  .container {
    width: 768px;
  }
  .menu__item {
    display: none;
  }
  .tesla_title {
    min-height: 390px;
    background-position: center bottom;
    background-size: contain;
  }
  .tesla_info {
    display: flex;
    justify-content: flex-start;
    justify-items: start;
    flex-wrap: wrap;
  }
  nav {
    margin: 24px 33px 80px 15px;
  }
  .tesla_title h1 {
    font-size: 90px;
  }
  .tesla_title p {
    margin-top: -9px;
    font-size: 15px;
  }
  .test_drive-img {
    color: #e51937;
  }
  .info_block_speed,
  .info_block_road {
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 56px;
    margin-right: 65px;
  }
  .info_block_speed {
    margin-left: 140px;
  }
  .info_block_speed-img {
    width: 65.924px;
    height: 50.16px;
    flex-shrink: 0;
  }
  .info_block_road-img {
    width: 43.711px;
    height: 71.657px;
    flex-shrink: 0;
  }
  .info_block_text-top {
    font-size: 50px;
  }
  .info_block_text-top span {
    font-size: 20px;
  }
  .info_block_text-bottom {
    font-size: 12px;
  }
  .test_drive {
    margin-left: 174px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 34px;
  }
  .test_drive-img {
    width: 30.365px;
    height: 30.365px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .test_drive-text {
    color: #e51937;
    text-align: center;
    margin-top: 19px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .order_btn {
    width: 220.839px;
    height: 55.21px;
    flex-shrink: 0;
    background: #e51937;
  }
  .order_btn-text {
    margin-top: 7px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .vector {
    margin-top: 63px;
  }
  .go_bottom {
    width: 28px;
    height: 14px;
    flex-shrink: 0;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .menu__item {
    display: none;
  }
  .tesla_title {
    min-height: 220px;
    background-position: center bottom;
    background-size: contain;
  }
  .tesla_info {
    display: flex;
    justify-content: flex-start;
    justify-items: start;
    flex-wrap: wrap;
  }
  nav {
    margin: 5px 21px 30px 2px;
  }
  .tesla_title h1 {
    font-size: 50px;
    line-height: 61px;
  }
  .tesla_title p {
    margin-top: -2px;
    font-size: 10px;
    line-height: 12px;
  }
  .test_drive-img {
    color: #e51937;
  }
  .info_block_speed,
  .info_block_road {
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 43px;
  }
  .info_block_speed {
    margin-left: 42px;
    margin-right: 41px;
  }
  .info_block_speed-img {
    width: 38.136px;
    height: 28.7px;
    flex-shrink: 0;
  }
  .info_block_road-img {
    width: 25.286px;
    height: 41px;
    flex-shrink: 0;
  }
  .info_block_text-top {
    font-size: 27px;
  }
  .info_block_text-top span {
    font-size: 15px;
  }
  .info_block_text-bottom {
    font-size: 10px;
  }
  .test_drive {
    margin-left: 36px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 25px;
  }
  .test_drive-img {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 7px;
  }
  .test_drive-text {
    color: #e51937;
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .order_btn {
    padding: 0;
    width: 160px;
    height: 40px;
  }
  .order_btn-text {
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .go_bottom {
    width: 28px;
    height: 14px;
    flex-shrink: 0;
  }
}
